

*{
    margin: 0;
    padding: 0;
border: 1px solid transparent;
    
}




body{
    width: 1440px;
    background:url(../images/bg-desktop.svg);
    background-color: #674bb1;
    background-repeat: no-repeat;
}




img{
    width: 100%;
    height: auto;
}

header{
    height: 185px;
    display: flex;
    align-items:center;
    padding-left: 80px;
}

header .logo{
    width: 215px;
    height: auto;
    margin-top: -28px;
    margin-left: -15px;
}


h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 39px;
    margin-top: -10px;
    margin-left: 5px;
    letter-spacing: 0.25px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 19px;
    margin-left: 5px;
    line-height: 27px;
}

.main{
    display: flex;
    align-items: flex-start;
    padding: 0 0 0 70px;
}

.main .figure{
    width: 706px;
}

.main .article{
    width: 520px;
    padding: 55px 90px 0 50px;
    color: white;   
}

/*.main .register-button{
    width: 200px;
    background: white;
    border-radius: 30px;
    margin: 22px 0 0 3px;
    height: 56px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 3px 10px #0000009c
}*/

.register-button a{
    display: block;
    text-align: center;
    padding: 12px 0 0 0;
    margin: 22px 0 5px 3px;
    width: 197px;
    height: 42px;
    background: white;
    border-radius: 30px;
    box-shadow: 2px 3px 10px #0000009c;
    color: #674bb1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

}

.register-button a:hover{
    background-color:  hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;

}



.footer{
    display: flex;
    justify-content: flex-end;
}

.icons{
    margin: 8px 72px 0 0;
    display: flex;
    justify-content: flex-end;
}


li{
    list-style: none;
}

i{
    text-align: center;
    width: 38px;
    border-radius: 50%;
    border: 1px solid white;
    height: 38px;
    margin: 8px;
    line-height: 2 !important;
    color: white;
    font-size: 20px;
}

i:hover{
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}




.attribution { background-color: thistle ;
    font-size: 11px; text-align: center; }
.attribution a { font-size: 11px; color: hsl(290, 100%, 18%); }
